Extensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="extension">
    <xs:complexType>
      <xs:all>
        <xs:element name="customentities" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customentity" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="property" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="length" type="xs:integer" use="optional" />
                        <xs:attribute name="caption" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="description" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entities" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entity" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="property" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="caption" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="table" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="workflowdefinitions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workflowdefinition" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="stages" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="stage" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="actions" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="action" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                          <xs:attribute name="tostage" type="xs:string" use="required" />
                                          <xs:attribute name="caption" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="caption" type="xs:string" use="optional" />
                              <xs:attribute name="stagetype" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="New" />
                                    <xs:enumeration value="Standard" />
                                    <xs:enumeration value="Restarted" />
                                    <xs:enumeration value="Canceled" />
                                    <xs:enumeration value="Final" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="description" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="businesscomponentextensions" minOccurs="0" />
        <xs:element name="megamenuextensions" minOccurs="0" />
        <xs:element name="quickmenuextensions" minOccurs="0" />
        <xs:element name="applicationextensions" minOccurs="0" />
        <xs:element name="roles" minOccurs="0" />
        <xs:element name="translationextensions" minOccurs="0" />
      </xs:all>
      <xs:attribute name="code" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9_]{3,30}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>